.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  background-color:white;
  height:280px;
  border-bottom: 1px solid #DDD;
  margin-top: 30px;
}

.grid-item {
  background-color:white;
  text-align: center;
  padding: 20px;
  font-size: 30px; 
}

.item1 {
  grid-column: 1 ;
  grid-row: 1;
  height:260px;
  width : 350px;
  font-weight: bold;
  
}

.item2 {
  grid-column: 2;
  grid-row: 1;
  width : 750px;
  text-align: left;
  height:260px;
  float: right;
  min-height: 180px;
  margin: 2px;
  padding: 10px;
  min-width: 117px;
  position:relative;

}

.item3 {
  grid-column: 3;
  grid-row: 1;
  width : 100px;

}

img {
  border: 1px solid #ddd;
  padding: 5px;
  height: 240px;
}

.img1:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main {

  height: 60px;
  width: 95%;
  position: relative;
  border-bottom: 1px solid #DDD;
  margin-top: 70px;
}
.column1 {
  text-align: left;
}

#bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

.img2 {
  width: 100%;
  height: 700px;

}

