<app-header></app-header>
<h5 style="color:slateblue; margin-left: 5cm;">Your Cart</h5>
<br>
<div class="container-fluid" *ngIf="this.emptyflag">

  <div style="text-decoration:none; cursor: pointer;"
   *ngFor="let details of displaybookdetails ; let i = index" >
<div>
    <div class="row" style="max-height: 100cm;" >
      <div class="col-sm-1" style="background-color:lavenderblush;">
        <img src="{{details.Image}}" class="img-responsive" style="max-height: 50px;">
      </div>
      <div class="col-sm-2" style="background-color:lavenderblush; ">{{details.BookName}}</div>
      <div class="col-sm-2" style="background-color:lavenderblush;">{{details.price}}</div>
      <div class="col-sm-2" style="background-color:lavenderblush;">{{details.Rating}}</div>
      <div class="col-sm-2" style="background-color:lavenderblush;">
        <button type="button" class="btn btn-success" (click)="removeItemfromcart(details.BookId)">Remove</button>
    </div>
    </div>
    <br>
  </div>
</div>
</div>
<div *ngIf="!this.emptyflag">
  <p>Your cart is Empty !!!</p>
</div>

